# Agregating Data - crosstab()

In [1]:
import pandas as pd
data_BM=pd.read_csv('big_mart_sales.csv')
# Replace missing values
data_BM.loc[(data_BM.Item_Weight.isna() == True) , 'Item_Weight'] = round(data_BM.Item_Weight.mean(),3)
data_BM.loc[(data_BM.Outlet_Size.isna() == True) , 'Outlet_Size'] = 'Medium'
data_BM

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,Medium,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [2]:
# Total number of rows and columns of data frame data_BM
data_BM.shape

(8523, 12)

# EXAMPLE 1 ( crosstab() )

In [3]:
# Apply crosstab() over the 'Outlet_Size' and 'Outlet_Location_Type' columns
# The default aggregate function for crosstab() is count (counts rows for columns defined in crosstab)
# margins = True - adds summed values for columns and rows
pd.crosstab(data_BM['Outlet_Size'], data_BM['Outlet_Location_Type'],
            margins=True, margins_name="Total")

Outlet_Location_Type  Tier 1  Tier 2  Tier 3  Total
Outlet_Size
High                       0       0     932    932
Medium                   930    1855    2418   5203
Small                   1458     930       0   2388
Total                   2388    2785    3350   8523

In [5]:
# Apply crostab () without margins = True and margins_name
pd.crosstab(data_BM['Outlet_Size'],data_BM['Outlet_Location_Type'])

Outlet_Location_Type  Tier 1  Tier 2  Tier 3
Outlet_Size
High                       0       0     932
Medium                   930    1855    2418
Small                   1458     930       0

# EXAMPLE 2 ( crosstab() )

In [6]:
# Overview of the initial data frame data_BM
data_BM

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,Medium,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [9]:
# We want to calculate the number (frequency) of products per group 'Item_Type' in each group 'Outlet_Size'
pd.crosstab(data_BM['Outlet_Size'],data_BM['Item_Type'], margins=True, margins_name="Total")

Item_Type,Baking Goods,Breads,Breakfast,Canned,Dairy,Frozen Foods,Fruits and Vegetables,Hard Drinks,Health and Hygiene,Household,Meat,Others,Seafood,Snack Foods,Soft Drinks,Starchy Foods,Total
Outlet_Size,,,,,,,,,,,,,,,,,
High,73,25,13,65,80,92,142,23,61,103,41,16,5,125,49,19,932
Medium,388,155,67,395,404,515,762,141,323,550,265,98,39,740,270,91,5203
Small,187,71,30,189,198,249,328,50,136,257,119,55,20,335,126,38,2388
Total,648,251,110,649,682,856,1232,214,520,910,425,169,64,1200,445,148,8523

In [11]:
# We want to calculate the number (frequency) of products per group 'Outlet_Size' in each group 'Item_Type' 
# Identical results as in the previous example, only a different display of rows and columns
pd.crosstab(data_BM['Item_Type'], data_BM['Outlet_Size'], margins=True, margins_name="Total")

Outlet_Size            High  Medium  Small  Total
Item_Type
Baking Goods             73     388    187    648
Breads                   25     155     71    251
Breakfast                13      67     30    110
Canned                   65     395    189    649
Dairy                    80     404    198    682
Frozen Foods             92     515    249    856
Fruits and Vegetables   142     762    328   1232
Hard Drinks              23     141     50    214
Health and Hygiene       61     323    136    520
Household               103     550    257    910
Meat                     41     265    119    425
Others                   16      98     55    169
Seafood                   5      39     20     64
Snack Foods             125     740    335   1200
Soft Drinks              49     270    126    445
Starchy Foods            19      91     38    148
Total                   932    5203   2388   8523

# EXAMPLE 3 ( crosstab() )

In [12]:
# Load data from the new orders.xls file into the data frame orders_data
orders_data = pd.read_excel("orders.xls")

In [14]:
orders_data

,Row ID,OrderID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,2010-10-13,Low,6,261.5400,0.04,Regular Air,-213.2500,38.94,...,Muhammed MacIntyre,Nunavut,EAST,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,49,293,2012-10-01,High,49,10123.0200,0.07,Delivery Truck,457.8100,208.16,...,Barry French,Nunavut,EAST,Consumer,Office Supplies,Appliances,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Jumbo Drum,0.58,2012-10-02
2,50,293,2012-10-01,High,27,244.5700,0.01,Regular Air,46.7075,8.69,...,Barry French,Nunavut,EAST,Consumer,Office Supplies,Binders and Binder Accessories,"Cardinal Slant-DÂ® Ring Binder, Heavy Gauge Vinyl",Small Box,0.39,2012-10-03
3,80,483,2011-07-10,High,30,4965.7595,0.08,Regular Air,1198.9710,195.99,...,Clay Rozendal,Nunavut,EAST,Corporate,Technology,Telephones and Communication,R380,Small Box,0.58,2011-07-12
4,85,515,2010-08-28,Not Specified,19,394.2700,0.08,Regular Air,30.9400,21.78,...,Carlos Soltero,Nunavut,EAST,Consumer,Office Supplies,Appliances,Holmes HEPA Air Purifier,Medium Box,0.50,2010-08-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8394,7765,55558,2010-08-09,Medium,8,1294.0400,0.05,Delivery Truck,-323.1800,150.98,...,Mick Brown,Alberta,CENTRAL,Consumer,Furniture,Bookcases,Bush Mission Pointe Library,Jumbo Box,0.65,2010-08-09
8395,7766,55558,2010-08-09,Medium,23,392.5700,0.04,Regular Air,22.2500,17.07,...,Mick Brown,Alberta,CENTRAL,Consumer,Office Supplies,Envelopes,Recycled Interoffice Envelopes with Re-Use-A-S...,Small Box,0.38,2010-08-11
8396,7906,56550,2011-04-08,Not Specified,37,823.7800,0.03,Express Air,343.0500,22.23,...,Frank Hawley,Alberta,CENTRAL,Home Office,Furniture,Office Furnishings,"Executive Impressions 14""",Small Pack,0.41,2011-04-10
8397,7907,56550,2011-04-08,Not Specified,8,469.8375,0.00,Regular Air,-159.2360,65.99,...,Frank Hawley,Alberta,CENTRAL,Home Office,Technology,Telephones and Communication,Talkabout T8367,Small Box,0.56,2011-04-09
8398,7914,56581,2009-02-08,High,20,2026.0100,0.10,Express Air,580.4300,105.98,...,Grant Donatelli,Alberta,CENTRAL,Consumer,Furniture,Office Furnishings,"Tenex 46"" x 60"" Computer Anti-Static Chairmat,...",Medium Box,0.65,2009-02-11

In [16]:
# Total number of rows and columns of data frame orders_data
orders_data.shape

(8399, 21)

# EXAMPLE 3.1.

In [18]:
# Apply crosstab () by columns 'Province' and 'Customer Segment'
pd.crosstab(orders_data['Province'], orders_data['Customer Segment'], 
            margins=True)

Customer Segment       Consumer  Corporate  Home Office  Small Business   All
Province
Alberta                     214        276          167             208   865
British Columbia            191        415          298             222  1126
Manitoba                    201        310          160             122   793
New Brunswick                91         86           84              62   323
Newfoundland                 20         30           14              18    82
Northwest Territories        33        191           88              82   394
Nova Scotia                 129        148           73             114   464
Nunavut                      12         35           23               9    79
Ontario                     326        635          520             345  1826
Prince Edward Island         36        118           22              35   211
Quebec                      161        232          197             191   781
Saskachewan                 131        380          255             147   913
Yukon                       104        220          131              87   542
All                        1649       3076         2032            1642  8399

# EXAMPLE 3.2.

In [19]:
# If we define the aggfunc attribute, we must also define the values attribute (The default aggregate function is countt
# We will count all OrderIDs, for each 'Customer Segment' in each 'Province'
pd.crosstab(orders_data['Province'], orders_data['Customer Segment'], 
            margins=True, values=orders_data['OrderID'], aggfunc='count')

Customer Segment       Consumer  Corporate  Home Office  Small Business   All
Province
Alberta                     214        276          167             208   865
British Columbia            191        415          298             222  1126
Manitoba                    201        310          160             122   793
New Brunswick                91         86           84              62   323
Newfoundland                 20         30           14              18    82
Northwest Territories        33        191           88              82   394
Nova Scotia                 129        148           73             114   464
Nunavut                      12         35           23               9    79
Ontario                     326        635          520             345  1826
Prince Edward Island         36        118           22              35   211
Quebec                      161        232          197             191   781
Saskachewan                 131        380          255             147   913
Yukon                       104        220          131              87   542
All                        1649       3076         2032            1642  8399

# EXAMPLE 3.3.

In [20]:
# We will caluculate the average 'Sales' for each 'Customer Segment' in each 'Province'
pd.crosstab(orders_data['Province'], orders_data['Customer Segment'], 
            margins=True, values=orders_data['Sales'], aggfunc='mean')

Customer Segment,Consumer,Corporate,Home Office,Small Business,All
Province,,,,,
Alberta,2359.352114,1797.410339,1406.932246,2254.073077,1970.857215
British Columbia,1743.093859,1755.606918,1691.682310,1473.552514,1680.957180
Manitoba,1444.404808,1986.939081,1558.913466,1779.886443,1731.209057
New Brunswick,3387.418385,1743.173424,1714.455524,1323.052774,2118.301930
Newfoundland,1290.455150,1221.474267,1170.711643,1337.820750,1255.171555
Northwest Territories,2052.510621,1976.408073,2204.625398,1970.896366,2032.607435
Nova Scotia,1664.900868,1529.543628,2786.788473,1518.852061,1762.347764
Nunavut,2271.586667,1742.229000,997.452978,577.556667,1473.120044
Ontario,1478.099014,1751.318412,1811.414706,1528.490906,1677.553384
Prince Edward Island,1554.333444,1822.573568,2004.886000,2693.030657,1940.204976
Quebec,2082.320233,1996.559045,2093.104754,1567.529777,1933.668476
Saskachewan,1635.343771,1778.383362,1329.022706,1602.308286,1604.004183
Yukon,1964.666187,1548.871968,1970.877118,1983.969563,1800.493304
All,1857.859965,1787.680389,1754.312931,1698.124841,1775.878179

# LAB #2
# Using crosstab () over data frame 'orders_data' calculate:
# STEP 1: Average sales value for 'Province' and 'Product Category' columns
# STEP 2: Sales amount for 'Province' and 'Product Category' columns